body {
  font-size: 18px;
}
.settings-container {
  .settings-body {
    @media (min-width: 576px) {
      padding-left: 20px;
    }
  }
}
.a-problem {
  text-align: right;
  float: left;
  margin: 0px 0px 20px;
  padding: 20px 20px 30px 20px;
  width: 100%;
  @media (min-width: 576px) {
    margin: 20px;
    width: 145px;
    
  }
  &.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}
.seperator {
  text-align: left;
  position: relative;
  height: 10px;
}
.seperator i {
  position: absolute;
  top: -36px;
  left: 0px;
}
.seperator hr {
  position: relative;
  top: -4px;
  border-top-color: #666;
}
.answer-input {
  width: 100%;
  text-align: right;
}
